#imgs img 
{
    position:absolute;
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
    visibility:hidden;
    max-height:650px;
}
#Snav 
{
    width:100%;
    height: 100%;
    display:block;
    position:absolute;
}
#SnavUp 
{
    display:block;
    width:100%;
    height:20%;
}
#Scircles 
{
    display:block;
    width:5%;
    height:15%;
    margin-right:5%;
    margin-top:2%;
    float:right;      
}
#Scircles ul 
{
    margin:0;
    float:right;
    display:block;
   // width:100%;
   width:400px;
    height:20px;
}
#Scircles li
{
    list-style:none;
    display:block;
    background-color:rgba(0, 0, 0, 0.7);
    width:20px;
    height:90%;
    margin-left:5%;
    float:left;    
    visibility:hidden;
    border-radius: 25px;

}
#SnavMiddle 
{
    display:block;
    width:100%;
    height:15%;
    margin-top:10%;    
}
#Sleft 
{
    width:8%;
    height:100%;
    float:left;
    margin-left:3%;
    opacity:0.8;
}
#Sleft:hover 
{
    opacity:0.8;
}
#Sright 
{
    width:8%;
    height:100%;
    float:right;
    margin-right:3%;
    opacity:0.8;
}
#Sright:hover 
{
    opacity:0.8;
}
#SnavBottom 
{
    display:block;
    background-color:rgba(0, 0, 0, 0.6);
    width:100%;
    height:10%;
    position:absolute;
    bottom:0;
    left:0;
}
#SnavBottom p 
{
    font:normal 200% Arial;
    color:#fff;
    position:absolute;
    bottom:0;
    left:0;
    margin-left:3%;
    visibility:hidden;
}